/*
div {
  margin: 0.4em;
}

fieldset {
  margin: 0.4em;
}

legend {
  font-size: x-large;
  font-weight: bolder;
}

#myform {
  margin: 0 1em 0 1em;
  padding: 1em;
  background-color: gainsboro;
  width: 75%;
}

#submit-button {
  text-align: center;
}

button,
input,
select,
textarea {
  font-family: inherit;
}



@media (min-width: 0px) and (max-width: 499px)
{
  div {
    margin: 0;
  }
  

  #myform {
    width: 100%;
    background-color: pink;
    margin: 0;
    padding: 0;
  }

  input {
    display: block;
    margin: 0.4em;
  }
  
  label {
    display: block;
    margin: 0.4em;
  }

  #submit-button {
    margin-top: 0.4em;
    margin-left: 0.5em;
  }
}
*/

/* phone screen */
html {
  font-size: 17px;
  line-height: 1.2em;
  margin: 10px;
}

h1 {
  font-size: 2.618em;
  line-height: 2.4em;
}

#myform {
  padding: 1.2em 0;
}

#submit-button {
  padding: 1.2em 0;
}

div {
  margin: 1.2em 0;
}

legend {
  font-size: 1.618em;
  line-height: 1.2em;
}

/* tablet screen */
@media screen and (min-width: 480px) {

  html {
    /*font-size: 1.618em; /* 27.5px value equivalent to calculate padding for textarea*/
    margin: 16px;
  }
}

/* desktop screen*/

@media screen and (min-width: 990px) {

  body {
    width: 60%;
    margin: 0 auto;
  }

  fieldset {
    margin: 1.2em 0;
    padding-left: 20px;
  }

  #myform {
    margin: 0;
  }

}
